{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/bt/">Brain Trust</a>
            <a class="nav-link" href="/blog/">Blog</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

	<h1 class="cover-heading">New Age Liberty</h1>
	<p>New Age liberty is an informal non-profit NGO created to achieve the goal of afrikan unity through Ubuntu, technology and innovation</p>
	<!---<p class="lead">
		  <a href="/mission/" class="btn btn-lg btn-secondary">Learn more</a>
	</p>--->
{% endblock %}
