{% extends "Home/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/mission/">Mission</a>
            <a class="nav-link" href="/blog/">Idea Wall</a>
            <a class="nav-link" href="#">Volunteer</a>
            <a class="nav-link" href="donate">Donate</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

	<h1 class="cover-heading">New Age Liberty</h1>
	<p>New Age liberty is an informal non-profit organisation created to achieve the goal of African unity in our lifetime. Our vision is of a prosperous Africa without colonial boarders 
<br><br>
If you love Africa and share our vision of a united Africa then help us by donating your time in our voluteer program. If you have no time to spare a donation from your wallet will be helpful as well.
	</p>
	<p class="lead">
	   <a href="#" class="btn btn-lg btn-secondary">Volunteer</a> <a href="donate/" class="btn btn-lg btn-secondary">Donate</a>
	</p>


{% endblock %}
