{% extends "BrainTrust/header.html" %}
{% block content %}

 {% load staticfiles %}

</p>

INSPIRED by the noble ideals which guided the founding
fathers of our Continental Organization and generations of Pan-
Africanists in their determination to promote unity, solidarity,
cohesion and cooperation among the peoples of Afrika and Afrikan
States;

CONSIDERING the principles and objectives stated in the
Charter of the Organization of African Unity, the Treaty
establishing the African Economic Community and the 2063 
Agenda outlining The Afrika We Want;

RECALLING the heroic struggles waged by our peoples and our
countries for political independence, human dignity and economic
emancipation;

DETERMINED to take up the multifaceted challenges that
confront our continent and peoples in the light of the social, economic
and political changes taking place in the world;

CONVINCED of the need to accelerate the process of
implementing the Treaty establishing the African Economic 
Community in order to promote the socio-economic development of
Africa and to face more effectively the challenges posed by
globalization;

GUIDED by our common vision of a united and strong Africa
to build a partnership between governments and all
society, in particular women, youth and the private sector
to strengthen solidarity and cohesion among our people;

CONSCIOUS of the fact that the scourge of conflicts in Africa
constitutes a major impediment to the socio -economic development of
the continent and of the need to promote peace, security and stability
as a prerequisite for the implementation of our development and
integration agenda;

DETERMINED to promote and protect human and peoples’
rights, consolidate democratic institutions and culture, and to ensure
good governance and the rule of law;

FURTHER DETERMINED to take all necessary measures to
strengthen our common institutions and provide them with the
necessary powers and resources to enable them discharge their
respective mandates effectively;

INSPIRED by the Declaration which was adopted at the Fourth
Extraordinary Session of our OAU in Sirte, the Great Socialist
People’s Libyan Arab Jamahiriya, on 9.9. 1999, in which it was decided to
establish an Afrikan Union, in conformity with the ultimate objectives
of the Charter of our Continental Organization, the Treaty
establishing the Afrikan Economic Community and the 2063 
Agenda outlining The Afrika We Want ;

<p>
